//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------
.btn {
  display: inline-block;

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  cursor: pointer;
  user-select: none;
  text-align: center;
  text-decoration: none;

  border: 0;
  border-radius: 0;

  &:active,
  &:focus {
    outline: none;
  }
} 

.btn--default {
  position: relative;

  display: block;

  width: 100px;
  height: 100px;

  transition: background .4s;
  text-decoration: none;

  color: #fff;
  border-radius: 9px;
  background: @purple;

  .fg,
  .bg {
    transition: opacity .4s;
  }

  .fg {
    z-index: 2;
  }

  .bg {
    z-index: 1;

    opacity: 0;
  }

  &:hover {
    background: @orange;

    .fg {
      opacity: 0;
    }

    .bg {
      opacity: 1;
    }
  }
}

.btn__icon {
  position: absolute;
  top: 8px;
  left: 16px;

  width: 68px;
  height: 68px;
}

.btn__name {
  font-size: 11px;
  line-height: 1;

  position: absolute;
  bottom: 6px;
  left: 0;

  width: 100%;

  text-align: center;
  white-space: nowrap;
  //word-spacing: -.1em;
}
