//
// IcoMoon icons
// --------------------------------------------------
@iconsFolder: '@{fontFolder}/icons/';
.iconfont(@fontname, @filename) {
  @font-face {
    font-family: @fontname;
    font-weight: normal;
    font-style: normal;

    src: url('@{iconsFolder}@{filename}.eot');   /* IE9 Compat Modes */
    src: url('@{iconsFolder}@{filename}.eot?#iefix') format('embedded-opentype'),  /* IE6-IE8 */
    url('@{iconsFolder}@{filename}.svg#@{fontname}') format('svg'),   /* Legacy iOS */
    url('@{iconsFolder}@{filename}.woff') format('woff'),   /* Modern Browsers */
    url('@{iconsFolder}@{filename}.ttf') format('truetype');   /* Safari, Android, iOS */
  }
}

@icofont:  'icomoon';
.iconfont(@icofont, @icofont);

[class^='icon-'],
[class*=' icon-'] {
  font-family: @icofont;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;

  text-transform: none;

  speak: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-arr-t:before {
  content: '\e905';
}
.icon-arr-b:before {
  content: '\e906';
}
.icon-info:before {
  content: '\e900';
}
.icon-time:before {
  content: '\e901';
}
.icon-site:before {
  content: '\e902';
}
.icon-phone:before {
  content: '\e903';
}
.icon-address:before {
  content: '\e904';
}
