.old-browser {
  position: fixed;
  z-index: 3000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;

  background: #fff;

  .msg {
    font-weight: 400;

    width: 940px;
    margin: 200px auto 0 auto;

    text-align: justify;

    p {
      font-size: 16px;
      line-height: 20px;

      margin-bottom: 10px;
    }
  }

  h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;

    margin-bottom: 15px;

    text-align: center;
  }

  .browsers {
    width: 482px;
    margin: 0 auto;

    .h-row;

    li {
      float: left;

      margin: 0 10px;
    }

    a {
      display: block;

      width: 100px;
      height: 100px;
    }

    .chrome {
      background-image: url('@{imgFolder}browsers-logo/chrome.png');
    }
    .firefox {
      background-image: url('@{imgFolder}browsers-logo/firefox.png');
    }
    .opera {
      background-image: url('@{imgFolder}browsers-logo/opera.png');
    }
    .msie {
      background-image: url('@{imgFolder}browsers-logo/ie.png');
    }
  }
}

.ie8 {
  body {
    overflow: hidden;
  }

  .old-browser {
    display: block;
  }
}
