/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11.10.2015, 2:43:04
    Author     : Kilrogg
*/
html,body {
    height: 100%;
}
.map-container {
    height:100%
}

#map {
    width:100%;
    height:100%;
}

.map-select-right-cats {
    background-color: #BE71B5;
    display: block;
    float: right;
    font-size: 90%;
    height: 50px;
    opacity: 0.8;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    position: absolute;
    width: 150px;
    right: 24px;
    top: 10px;
}