.tapFix {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.macfix {
    -webkit-font-smoothing: antialiased
}

.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0
}

.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    box-sizing: border-box
}

* {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

audio:not([controls]) {
    display: none
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

a:hover,
a:active {
    outline: 0
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic
}

#map_canvas img,
.google-maps img {
    max-width: none
}

button,
input,
select,
textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle
}

button,
input {
    *overflow: visible;
    line-height: normal
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
    cursor: pointer
}

input[type="search"] {
    box-sizing: content-box;
    -webkit-appearance: textfield
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none
}

textarea {
    overflow: auto;
    vertical-align: top
}

@media print {
    * {
        text-shadow: none !important;
        color: #000 !important;
        background: transparent !important;
        box-shadow: none !important
    }
    a,
    a:visited {
        text-decoration: underline
    }
    a[href]:after {
        content: " (" attr(href) ")"
    }
    abbr[title]:after {
        content: " (" attr(title) ")"
    }
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: ""
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid
    }
    thead {
        display: table-header-group
    }
    tr,
    img {
        page-break-inside: avoid
    }
    img {
        max-width: 100% !important
    }
    @page {
        margin: .5cm
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3
    }
    h2,
    h3 {
        page-break-after: avoid
    }
}

@font-face {
    font-family: 'icomoon';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts//icons/icomoon.eot');
    src: url('../fonts//icons/icomoon.eot?#iefix') format('embedded-opentype'), url('../fonts//icons/icomoon.svg#icomoon') format('svg'), url('../fonts//icons/icomoon.woff') format('woff'), url('../fonts//icons/icomoon.ttf') format('truetype')
}

[class^='icon-'],
[class*=' icon-'] {
    font-family: 'icomoon';
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}


.icon-arr-t:before {
/*    content: '\2039'*/
}
.slider__nav__icon_container {
/*    margin-top:100px;*/
}
.nav__prev>div.slider__nav__icon_container {
  /*  -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);*/
    width:100%;
    height:100%;
}

.nav__next>div.slider__nav__icon_container
{
   /* -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);*/
    width:100%;
    height:100%;
}

div.slider__nav__icon_container > i {
    font-size:400px;
}
.icon-arr-b:before {
   /* content: '\203a'*/
}

.icon-info:before {
    content: '\e900'
}

.icon-time:before {
    content: '\e901'
}

.icon-site:before {
    content: '\e902'
}

.icon-phone:before {
    content: '\e903'
}

.icon-address:before {
    content: '\e904'
}

.btn {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    text-decoration: none;
    border: 0;
    border-radius: 0
}

.btn:active,
.btn:focus {
    outline: none
}

.btn--default {
    position: relative;
    display: block;
    width: 250px;
    height: 250px;
    -webkit-transition: background .4s;
    transition: background .4s;
    text-decoration: none;
    color: #fff;
    border-radius: 9px;
    background: #821b81
}

.btn--default .fg,
.btn--default .bg {
    -webkit-transition: opacity .4s;
    transition: opacity .4s
}

.btn--default .fg {
    z-index: 2
}

.btn--default .bg {
    z-index: 1;
    opacity: 0
}

.btn--default:hover,.btn--default.active,.btn--default.hovered {
    background: #f29100
}

.btn--default:hover .fg {
    opacity: 0
}

.btn--default:hover .bg {
    opacity: 1
}

.btn__icon {
    position: absolute;
    top: 20px;
    left: 40px;
    width: 170px;
    height: 170px
}

.btn__name {
    font-size: 27px;
    line-height:1.5;
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    text-align: center;
    white-space: nowrap
}

.h-row {
    *zoom: 1
}

/*.h-row:before,
.h-row:after {
    display: table;
    content: "";
    line-height: 0
}
*/
.h-row:after {
    clear: both
}

.h-fl {
    float: left
}

.h-fr {
    float: right
}

.h-clr {
    clear: both
}

.h-pr {
    position: relative
}

.h-simple {
    margin: 0;
    padding: 0;
    list-style: none
}

.h-inline {
    *zoom: 1
}

.h-inline:before,
.h-inline:after {
    display: table;
    content: "";
    line-height: 0
}

.h-inline:after {
    clear: both
}

.h-inline li {
    float: left
}

.h-bb {
    box-sizing: border-box
}

.h-oh {
    overflow: hidden
}

.h-tac {
    text-align: center
}

.h-trsn {
    -webkit-transition: none;
    transition: none
}

.h-vh {
    visibility: hidden
}

.h-pen {
    pointer-events: none
}

.h-hide {
    display: none
}

.h-dt {
    display: table;
    width: 100%;
    margin: 0 auto
}

.h-dtr {
    display: table-row
}

.h-dtc {
    display: table-cell;
    vertical-align: middle
}

.h-vab {
    vertical-align: bottom
}

html,
body {
    height: 100%
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 22px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #181716;
    background: #f6f6f6
}

.map__wrapper {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.info__wrapper {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0px;
    width: 500px
}

.logo {
    display: block;
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    text-decoration: none
}

.info__btn--mid {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

.map__legend {
    width: 200px;
    margin-top: 67px;
    margin-right: auto;
    margin-left: 20px;
}

.map__legend__scale {
    font-size: 30px;
    line-height: 1.5;
    margin-bottom: 4px;
    padding-bottom: 5px;
    text-align: center;
    border-bottom: 6px solid #821b81
}

.map__legend__desc {
    font-size: 30px;
    line-height: 1.5;
    position: relative;
    padding-left: 74px
}

.map__legend__icon {
    position: absolute;
    top: 0;
    left: 28px;
    width: 30px;
    height: 36px
}

.map__legend__icon svg {
    width: 100%;
    height: 100%
}

.categories-list {
    position: absolute;
    z-index: 2;
    top: 1050px;
    right: -100px;
    width:650px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.category-item {
    margin-top: 40px;
    margin-bottom: 0px;
    margin-left:25px;
    margin-right: 25px;
    padding-left:250px;
  /*  float:left;
    display:inline;*/
}

.address-panel {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 15px;
    width: 550px;
    /*height: 100%;*/
  /*  background: #fff;*/
    box-shadow: 3.4px 2.1px 35px rgba(24, 17, 19, 0.5)
}

.selected-place__img {
    width: 100%;
    height: 250px;
    background-position: 50% 50%;
    background-size: cover
}

.selected-place__address {
    font-size: 18px;
    line-height: 22px;
    position: relative;
    padding-top: 13px;
    padding-bottom: 16px;
    padding-left: 88px;
    background: #d7d7d7
}

.selected-place__pin {
    position: absolute;
    top: -13px;
    left: 19px;
    width: 56px;
    height: 69px
}

.selected-place__pin svg {
    width: 100%;
    height: 100%
}

.address-panel__title {
    font-size: 40px;
    font-weight: bold;
    line-height: 28px;
    margin-top: 30px;
    margin-bottom: 2px;
    margin-left: 27px;
    text-transform: uppercase;
    text-align: center;
    display:none;
}

.slider__wrapper {
    overflow: hidden;
    max-width: 1870px;
    height: 620px;
    margin:35px auto;    
}

.organisations__list {
    position: relative;
    top: 0;
    width: 20000em;
    height: 500px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    -webkit-transition: top .4s;
    transition: top .4s
}

.organisation {
       font-size: 28px;
    line-height: 40px;
    padding: 3px 14px 1px 10px;
    border-right: 3px solid #dbd5d4;
    width:600px;
    float:left;
    display:block !important;
}

.organisation:last-child {
   border-right: 0px;
}

.organisation>.h-fl {
    width: 600px;
    min-height:300px;
}

.organisation__name {
    width:480px;
    font-weight: bold;
    margin-bottom: 7px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;        
}

.organisation__address {
    min-height:78px;
}
.organisation__info {
    position: relative;
    margin-bottom: 1px;
    padding-left: 21px;
}

.organisation__info a {
    text-decoration: none;
    color: #181716
}

.organisation__info__icon {
    font-size: 24px;
    line-height: 35px;
    /*position: absolute;*/
    top: 0;
    left: 0;
    color: #821b81;
    margin-right:5px;
}

.organisation__info__icon.icon-address {
    font-size: 27px
}

.organisation__info__icon.icon-info {
    font-size: 27px
}

.organisation__info__img {
    display: block;
    width: 600px;
    height: 300px;
}

.slider__nav {
    position: absolute;
    bottom: 0px;    
    text-align: center;
    height: 100%;
    width: 400px;
    display:none;
}

div.slider__nav:hover {
    opacity:0.4;
    background: #d7d7d7;
}
.slider__nav.nav__next {
    right:-50px;
}

.slider__nav.nav__next img {
    right:-50px;
    margin-left:100px;
}

.slider__nav.nav__prev {
    left:-50px;
}

.slider__nav.nav__prev  img {
    left:-50px;
    margin-right:100px;
}


.slider__nav__icon {
    font-size: 33px;
    line-height: 1;
    cursor: pointer;
    color: #821b81
}

.slider__nav--unactive {
    cursor: default;
    opacity: .4
}

.slider__nav__icon_container>img {
    margin-top:250px;
}
.old-browser {
    position: fixed;
    z-index: 3000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background: #fff
}

.old-browser .msg {
    font-weight: 400;
    width: 940px;
    margin: 200px auto 0 auto;
    text-align: justify
}

.old-browser .msg p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px
}

.old-browser h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 15px;
    text-align: center
}

.old-browser .browsers {
    width: 482px;
    margin: 0 auto;
    *zoom: 1
}

.old-browser .browsers:before,
.old-browser .browsers:after {
    display: table;
    content: "";
    line-height: 0
}

.old-browser .browsers:after {
    clear: both
}

.old-browser .browsers li {
    float: left;
    margin: 0 10px
}

.old-browser .browsers a {
    display: block;
    width: 100px;
    height: 100px
}

.old-browser .browsers .chrome {
    background-image: url('../img/browsers-logo/chrome.png')
}

.old-browser .browsers .firefox {
    background-image: url('../img/browsers-logo/firefox.png')
}

.old-browser .browsers .opera {
    background-image: url('../img/browsers-logo/opera.png')
}

.old-browser .browsers .msie {
    background-image: url('../img/browsers-logo/ie.png')
}

.ie8 body {
    overflow: hidden
}

.ie8 .old-browser {
    display: block
}

.bbar {
    position: fixed;
    z-index: 100; 
    bottom: 500px; 
    left: 0;
    width: 100%;
    height:750px;
    background: #fff;
}

.bbar2 {
    position: fixed;
    z-index: 100; 
    bottom: 0px; 
    left: 0;
    width: 100%;
    height:500px;
    background: #d7d7d7; 
}
.slider-container {
    display:inline-block;
    width: 100%;
    margin: 0 auto;
}

ul.flaglist {
  width: 1900;
  list-style-type: none;
  margin-left:50px;
  margin-top:30px;
}
ul.flaglist li {
width: 410px;
height: 230px;
margin-top: 50px;
margin-left: 50px;
display: inline-block;
}



ul.flaglist li a,img.flag-image {
width: 100%;
height: 100%;
}

img.flag-image {
    border: 5px solid #d7d7d7;
    border-radius: 9px;
}

ul.flaglist li a, div.language-block a {
    opacity:0.4;
}

ul.flaglist li a:hover,ul.flaglist li a.active, div.language-block a:hover {
    opacity:1;
}


a.locale-link {
disply:block;
}

div.language-block {
    float:right;
    width:400px;
    height:230px;
    margin-top:50px;
    margin-right:30px;
}
