.btn{display:inline-block;box-sizing:border-box;margin:0;padding:0;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;text-align:center;text-decoration:none;border:0;border-radius:0}.btn:active,.btn:focus{outline:none}
/*# sourceMappingURL=buttons.css.map */