// Сетка
// --------------------------------------------------
.h-row {
  .clearfix();
}

.h-fl {
  float: left;
}

.h-fr {
  float: right;
}

.h-clr {
  clear: both;
}

.h-pr {
  position: relative;
}

// Списки
// --------------------------------------------------
.h-simple {
  margin: 0;
  padding: 0;

  list-style: none;
}

.h-inline {
  .clearfix();

  li {
    float: left;
  }
}



.h-bb {
  box-sizing: border-box;
}

.h-oh {
  overflow: hidden;
}

.h-tac {
  text-align: center;
}

.h-trsn {
  transition: none;
}

.h-vh {
  visibility: hidden;
}

.h-pen {
  pointer-events: none;
}

.h-hide {
  display: none;
}


// Таблица
.h-dt {
  display: table;

  width: 100%;
  margin: 0 auto;
}

.h-dtr {
  display: table-row;
}

.h-dtc {
  display: table-cell;

  vertical-align: middle;
}

.h-vab {
  vertical-align: bottom;
}
