html,
body {
  height: 100%;
}

body {
  font-family: @baseFontFamily;
  font-size: 15px;
  line-height: 22px;
  //-webkit-backface-visibility: hidden; 

  position: absolute;
  top: 0;
  left: 0;

  overflow: hidden;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  color: #181716;
  background: #f6f6f6;
}

.map__wrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}


// Лого с кнопками
.info__wrapper {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 49px;

  width: 320px;
}

.logo {
  display: block;

  width: 100%;
  height: 113px;
  margin-bottom: 10px;

  text-decoration: none;
}

.info__btn--mid {
  position: absolute;
  top: 0;
  left: 50%;

  transform: translateX(-50%);
}

.map__legend {
  width: 102px;
  margin-top: 27px;
  margin-right: auto;
  margin-left: auto;
}

.map__legend__scale {
  font-size: 18px;
  line-height: 1;

  margin-bottom: 4px;
  padding-bottom: 5px;

  text-align: center;

  border-bottom: 6px solid @purple;
}

.map__legend__desc {
  font-size: 12.6px;
  line-height: 22px;

  position: relative;

  padding-left: 37px;
}

.map__legend__icon {
  position: absolute;
  top: 0;
  left: 14px;

  width: 15px;
  height: 18px;

  svg {
    width: 100%;
    height: 100%;
  }
}


// Категории
.categories-list {
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 550px;

  transform: translateY(-50%);
}

.category-item {
  margin-top: 10px;
  margin-bottom: 10px;
}
