// Панель с адресами
// ----------------------------------------------------------------------------------------------------
.address-panel {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;

  width: 486px;
  height: 100%;

  background: #fff;
  box-shadow: 3.4px 2.1px 35px rgba(24, 17, 19, .5);
}

.selected-place__img {
  width: 100%;
  height: 338px;

  background-position: 50% 50%;
  background-size: cover;
}

.selected-place__address {
  font-size: 18px;
  line-height: 22px;

  position: relative;

  padding-top: 13px;
  padding-bottom: 16px;
  padding-left: 88px;

  background: #d7d7d7;
}

.selected-place__pin {
  position: absolute;
  top: -13px;
  left: 19px;

  width: 56px;
  height: 69px;

  svg {
    width: 100%;
    height: 100%;
  }
}

.address-panel__title {
  font-size: 35px;
  font-weight: bold;
  line-height: 42px;

  margin-top: 18px;
  margin-bottom: 23px;
  margin-left: 27px;

  text-transform: uppercase;
}


// Карусель
.slider__wrapper {
  overflow: hidden;

  width: 414px;
  height: 594px;
  margin: 20px auto;
}

.organisations__list {
  position: relative;
  top: 0;

  width: 100%;

  transition: top .4s;
}

.organisation {
  font-size: 12px;
  line-height: 14px;

  padding: 14px 3px 10px 1px;

  border-top: 3px solid  #dbd5d4;

  &:last-child {
    border-bottom: 3px solid  #dbd5d4;
  }

  > .h-fl {
    width: 230px;
  }
}

.organisation__name {
  font-weight: bold;

  margin-bottom: 7px;
}

.organisation__info {
  position: relative;

  margin-bottom: 1px;
  padding-left: 21px;

  a {
    text-decoration: none;

    color: #181716;
  }
}

.organisation__info__icon {
  font-size: 12px;
  line-height: 14px;

  position: absolute;
  top: 0;
  left: 0;

  color: @purple;

  &.icon-address {
    font-size: 13px;
  }

  &.icon-info {
    font-size: 11px;
  }
}

.organisation__info__img {
  display: block;

  width: 170px;
  height: 117px;
}

.slider__nav {
  text-align: center;
}

.slider__nav__icon {
  font-size: 33px;
  line-height: 1;

  cursor: pointer;

  color: @purple;
}

.slider__nav--unactive {
  cursor: default;

  opacity: .4;
}
